p {
    font-size: 17px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.centerText {
    justify-content: center;
    text-align: center;
}

#titleAndFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -6.5%;
  width: 110%;
  height: 70px;
  /* border: 1px solid red; */
}

.inputFilter {
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.inputFilter::placeholder {
  font-size: 16px;
}